<%= form_with(model: event) do |form| %>
  <% if event.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(event.errors.count, "error") %> prohibited this event from being saved:</h2>

      <ul>
        <% event.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= form.label "トレーニング" %>
    <%= form.collection_select(:title, @trainings, :name, :name) %>
    <%= link_to "トレーニング種目を新規作成", new_training_path %> または
    <%= link_to "トレーニング種目一覧表示", trainings_path %>
  </div>

  <div class="form-group">
    <%= form.label "セット数" %>
    <%= form.number_field :set, class:"form-control", min: 1, max: 20 %>
  </div>

  <div class="form-group">
    <%= form.label "メモ" %>
    <%= form.text_area :description, class:"form-control" %>
  </div>
  
  <% if event.start_date.blank? %>
    <%= form.hidden_field :start_date, value: @click_time %>
  <% end %>

  <% if event.end_date.blank? %>
    <%= form.hidden_field :end_date, value: @click_time %>
  <% end %>
  
  <%= form.submit nil, class: 'btn btn-primary' %>
<% end %>
