<p id="notice"><%= notice %></p>

<p>
  <strong>トレーニング:</strong>
  <%= @event.title %>
</p>

<p>
  <strong>セット数:</strong>
  <%= @event.set %>セット
</p>

<p>
  <strong>メモ:</strong>
  <%= @event.description %>
</p>

<%= link_to '編集', edit_event_path(@event) %> |
<%= link_to '戻る', events_path %>
